flows.json
[
    {
        "id": "535e4b2995bd1b33",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e06559541478f22a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a2ad6d19cb46f67",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fddcbf09e9b6bc40",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d574b68d4530952b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b62f3f727d91655d",
        "type": "ui_group",
        "name": "prueba",
        "tab": "fddcbf09e9b6bc40",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "127091be60fdfc3e",
        "type": "lorawan-keys",
        "name": "",
        "keys": "{\"id\":{\"nsw\":\"\",\"asw\":\"\"}}"
    },
    {
        "id": "9bed22448aae3360",
        "type": "mqtt-broker",
        "name": "TTN",
        "broker": "nam1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7cbb934b7e70ed98",
        "type": "ui_gauge",
        "z": "535e4b2995bd1b33",
        "name": "",
        "group": "b62f3f727d91655d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "cf6004a4f185171f",
        "type": "json",
        "z": "535e4b2995bd1b33",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "2274e642a9484480"
            ]
        ]
    },
    {
        "id": "2274e642a9484480",
        "type": "change",
        "z": "535e4b2995bd1b33",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "40",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "7cbb934b7e70ed98"
            ]
        ]
    },
    {
        "id": "eb44a1563b772dab",
        "type": "mqtt in",
        "z": "535e4b2995bd1b33",
        "name": "prueba",
        "topic": "v3/prueb2@ttn/devices/eui-a8610a32371c7808/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "9bed22448aae3360",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "7ea96d910b18bc8a",
                "a51b33186e4aea0d"
            ]
        ]
    },
    {
        "id": "681a9249d6e0b3a4",
        "type": "mqtt out",
        "z": "535e4b2995bd1b33",
        "name": "prueba",
        "topic": "prueba",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a2ad6d19cb46f67",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "621e459377996d30",
        "type": "inject",
        "z": "535e4b2995bd1b33",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 160,
        "wires": [
            [
                "681a9249d6e0b3a4"
            ]
        ]
    },
    {
        "id": "67ef36f3f5512157",
        "type": "function",
        "z": "535e4b2995bd1b33",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0e8626cd13e282dd",
        "type": "lorawan-server",
        "z": "535e4b2995bd1b33",
        "name": "rpi",
        "port": "1700",
        "x": 310,
        "y": 600,
        "wires": [
            [
                "24c723b31f829060"
            ],
            []
        ]
    },
    {
        "id": "30cdb7dea4818fa2",
        "type": "inject",
        "z": "535e4b2995bd1b33",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "4622b9151676584c"
            ]
        ]
    },
    {
        "id": "4622b9151676584c",
        "type": "lorawan-packet-encoder",
        "z": "535e4b2995bd1b33",
        "name": "msg",
        "keys": "127091be60fdfc3e",
        "power": "14",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "0e8626cd13e282dd"
            ],
            []
        ]
    },
    {
        "id": "24c723b31f829060",
        "type": "lorawan-packet-decoder",
        "z": "535e4b2995bd1b33",
        "name": "",
        "keys": "127091be60fdfc3e",
        "txdelay": "1012500",
        "x": 470,
        "y": 540,
        "wires": [
            [
                "d3a0505dcce24b42"
            ],
            [],
            []
        ]
    },
    {
        "id": "d3a0505dcce24b42",
        "type": "lorawan-packet-checkFC",
        "z": "535e4b2995bd1b33",
        "name": "",
        "x": 660,
        "y": 600,
        "wires": [
            [
                "03e99e6736d5775b"
            ],
            [
                "8e0c9b9cc1fb5f29"
            ],
            [
                "6cb8e3ea2dbab1af"
            ]
        ]
    },
    {
        "id": "03e99e6736d5775b",
        "type": "link out",
        "z": "535e4b2995bd1b33",
        "name": "",
        "mode": "link",
        "links": [],
        "x": 905,
        "y": 560,
        "wires": []
    },
    {
        "id": "8e0c9b9cc1fb5f29",
        "type": "debug",
        "z": "535e4b2995bd1b33",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "6cb8e3ea2dbab1af",
        "type": "debug",
        "z": "535e4b2995bd1b33",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "7ea96d910b18bc8a",
        "type": "debug",
        "z": "535e4b2995bd1b33",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "a51b33186e4aea0d",
        "type": "debug",
        "z": "535e4b2995bd1b33",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 480,
        "wires": []
    }
]